.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin: 5px;
    padding: 5px;
}

.title{
    color: brown;
    font-weight: 400;
}

.main-btn{
    background-color: goldenrod;
    width: 250px;
    height: 30px;
    border: 1px solid rgb(22, 27, 11);
    border-radius: 5px;
    cursor: pointer;
}